/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    color: yellowgreen;
    background-color: black;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}